<form class="adding-item-form" [formGroup]="addingItemForm" (submit)="onAddNewItem(addField.value)">
  <span class="spinner-wrap" *ngIf="addingItemForm.disabled">
    <mat-spinner [diameter]="20"></mat-spinner>
  </span>
  <mat-form-field class="field-wrap">
    <input matInput #addField type="text" placeholder="Enter list name" formControlName="addingField">
    <mat-error *ngIf="addingItemForm.controls.addingField.invalid">Field is required</mat-error>
  </mat-form-field>
  <span class="actions">
    <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </span>
</form>
