mat-toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

main {
  display: flex;
  position: relative;
}

.operations-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}

.lists-column {
  min-width: 280px;
  padding: 0 20px 0 0;
  border-right: 1px solid #ccc;
}

.lists {
  padding: 0;
}

.todos-column {
  flex-grow: 1;
  padding-left: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title .text {
  line-height: 40px;
}

.list-field-form {
  padding-left: 25px;
  display: flex;
  position: relative;
  z-index: 1;
}

.field-wrap {
  margin: 0;
}

.spinner-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.greetings {
  font-size: 14px;
  padding: 30px;
}
