mat-toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

main {
  display: flex;
}

.lists-column {
  min-width: 275px;
  padding: 0 20px 0 0;
  border-right: 1px solid #ccc;
}

.todos-column {
  flex-grow: 1;
  padding-left: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title .text {
  line-height: 40px;
}

.list-field-form {
  display: flex;
}
