<mat-toolbar>
  <div class="title">
    Todo list
  </div>
  <div class="actions">
    <span class="greetings">Hello, {{ userName }}!</span>
    <button mat-stroked-button (click)="logOut()">Log out</button>
  </div>
</mat-toolbar>
<main>
  <div class="lists-column">
    <h2 class="lists-title title">
      <span class="text">
        Lists
      </span>
      <span class="actions">
        <button mat-icon-button (click)="showListField()">
          <mat-icon>add</mat-icon>
        </button>
      </span>
    </h2>
    <ul class="lists">
      <li *ngIf="isListFieldShown">
        <form class="list-field-form" [formGroup]="listFieldForm" (submit)="addNewList()">
          <span class="spinner-wrap" *ngIf="listFieldForm.disabled">
            <mat-spinner [diameter]="20"></mat-spinner>
          </span>
          <mat-form-field class="field-wrap">
            <input matInput type="text" #listFieldEl placeholder="Enter list name" formControlName="listField">
            <mat-error *ngIf="listFieldForm.controls.listField.invalid">{{addingListError}}</mat-error>
          </mat-form-field>
          <span class="actions">
            <button mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>
          </span>
        </form>
      </li>
      <li class="list" *ngFor="let todoList of todoLists$ | async">
        <app-todo-list-item [todoList]="todoList"></app-todo-list-item>
      </li>
    </ul>
  </div>
  <div class="todos-column">
    <h2 class="todos-title title">
      <span class="text">
        Todos
      </span>
      <span class="actions">
        <button mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </span>
    </h2>
    <ul class="todos">
      <li class="todo">
        <span class="content">
          Todo content
        </span>
        <span class="actions">
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>clear</mat-icon>
          </button>
        </span>
      </li>
    </ul>
  </div>
  <div class="operations-overlay" *ngIf="isListFieldShown" (click)="hideListField()"></div>
</main>
