:host {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 25px;
  transition: background-color 0.3s;
}

:host:hover {
  background: #eee;
}

.edit-input-wrap {
  flex-grow: 1;
}

.name {
  flex-grow: 1;
}

.spinner-wrap {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
