<h2>
  Sign up
</h2>
<form class="signup-form" >
  <mat-form-field class="field-wrap">
    <input matInput placeholder="Your name" [formControl]="nameControl">
    <mat-error *ngIf="nameControl.invalid">This field is required</mat-error>
  </mat-form-field>

  <mat-form-field class="field-wrap">
    <input matInput type="email" placeholder="Email" [formControl]="emailControl">
  </mat-form-field>

  <mat-form-field class="field-wrap">
    <input matInput type="password" placeholder="Password" [formControl]="pswdControl">
  </mat-form-field>

  <mat-form-field class="field-wrap">
    <input matInput type="password" placeholder="Confirm password" [formControl]="pswdSecondControl">
  </mat-form-field>

  <button mat-raised-button color="primary">Submit</button>
</form>
