<form class="signup-form" >
  <mat-form-field class="field-wrap">
    <input matInput placeholder="Your name">
  </mat-form-field>

  <mat-form-field class="field-wrap">
    <input matInput type="email" placeholder="Email">
  </mat-form-field>

  <mat-form-field class="field-wrap">
    <input matInput type="password" placeholder="Password">
  </mat-form-field>

  <mat-form-field class="field-wrap">
    <input matInput type="password" placeholder="Repeat password">
  </mat-form-field>

  <button mat-raised-button color="primary">Submit</button>
</form>
